{% extends 'base.html.twig' %}

{% block title %}Edit Comment
{% endblock %}

{% block body %}
	<h2 style="text-align:center;">Modifier le commentaire:</h2>

	
	<article style="display: flex; margin-top: 15px; background-color: black;">

		<div style="padding: 5px; background-color: black;">
			<img style="height:150px; width:150; background-color: white;" src="{{asset('upload/'~app.user.profilePicture)}}">
		</div>

		<div style="width: 100%; margin: 5px;">
			<div style="display: flex; justify-content: space-between; padding: 5px; background-color: #191716;">
				<p>Le commentaire a été posté dans la page de:
					{{ comment.artiste.nom }}
				</p>
				<p>Le
					{{ comment.createdAt|date("d/m/Y")}}</p>
			</div>

			<div style=" width: 100%; height: 60%; margin-top: 5px; padding: 5px; background-color: #191716;">
				{{ form_start(form)  }}

				<p>{{ form_widget(form.commentaire, {"attr":{'class':'form-control','placeholder':''}})}}
				</p>


			</div>

		</article>
		<button class="btn btn-warning" style="width: 90px; margin-bottom: 5px; margin-left: 160px; margin-top:5px;" type="submit">Modifier</button>
		<a class="btn btn-warning" style="" href="{{ path('profil') }}">Retour au profil</a>

		{{ form_end(form) }}

	{% endblock %}
