{% extends 'base.html.twig' %}

{% block title %}Votre page profil
{% endblock %}

{% block body %}

<style>

	{# #profilebloc {
		height: 550px;
		width: 100%;
		margin-top: 10px;
	}

	#divprofile {
		border: white 1px dashed;
		height: 550px;
		width: 500px;
		margin: auto;	
		text-align: center;
	} #}
</style>


<section id="profilebloc">

	<div id="divprofile">
		<div>
			<label>Photo de profil</label>
			<br>
			<img style="height:200px; width: auto;" src="{{asset('upload/'~app.user.profilePicture)}}">
			<tr>
			<p>{{ app.user.email }}</p>
		</div>


		<div style="height:100px;">
			<table style="margin: auto; margin-top: 50px;">
				<tbody>
					<tr>
						<td>Pseudo:	</td>
						<td>{{ app.user.username }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<a class="btn btn-warning" href="{{ path('profil_update')}} ">Changer les informations</a>
		<br>

	</div>

</section>


<p style="text-align:center;">Vos commentaires: </p>

{% for comment in app.user.comments %}
<article id="commentarticle" style="" >

	<div id="editdelete" style="">
		<div id="editdeltein" style="">
			<a class="btn btn-dark" id="editbtn"style="" href="{{ path('comment_edit',{"id":comment.id}) }}">Edit</a>
			<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
				<input type="hidden" style="width: 60px;"  name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
				<button class="btn btn-dark">Delete</button>
			</form>
		</div>
	</div>

	<div id="blocomment" style="">
		<div id="commentime" style="">
			<p>Posté dans la page de: {{ comment.artiste.prenom }} {{ comment.artiste.nom }}  </p>
			<p>Le {{ comment.createdAt|date("d/m/Y")}}</p>
		</div>

		<div id="commentmsg" style=" ">
			<p>{{ comment.commentaire }}</p>
		</div>
	</div>

</article>

	{% else %}
	<p>Vous n'avez aucun commentaire</p>



	{% endfor %}

{% endblock %}