<!-- <?php include("/Users/Stude/Desktop/TooShare/assets/styles/footer.css") ?> -->

<footer>
	<div class="" id="frstfooterblock">
		<div class="test">
			<p class="footertitle">Commencez</p>
			<p><a href="{{ path('app_register') }}">S'inscrire</a></p>
			<p><a href="{{ path('app_login') }}">Se connecter</a></p>
			<p><a href="#!">Découvrez</a></p>
	


		</div>
		<div class="test">
			<p class="footertitle">Entreprise</p>

			<p><a href="{{ path('about') }}">A propos de nous</a></p>
			<p><a href="{{ path('contact') }}">Contactez-nous</a></p>
			<p><a href="{{ path('app_mentionslegales') }}">Mentions légales</a></p>


		</div>
		<div class="test">
			<p class="footertitle">Réseaux sociaux</p>
			<br>
			<p style="display: flex; justify-content: space-between;">
				<a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
				<a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
				<a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
				<a href=""><i class="fa-brands fa-tiktok fa-xl"></i></a>
			</p>

		</div>
	</div>
	<hr>
	<div>
		<p id="copyright"> copyright &copy; 2022 TOOSHARE</p>

	</div>



</footer>