{# <nav class="navbar navbar-expand-lg navbar-light m-auto" id="nav" style="">
	<a id="logotooshare" class="navbar-brand text-light" href="{{ path('home') }}" style"font-family: 'roboto', sans-serif; font-weight: 500; font-size: 20px;">T<span class="text-warning ">OO</span>SHARE</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> #}

<nav class="navbar navbar-expand-lg navbar-light" id="nav" style="">
	<a id="logotooshare" class="navbar-brand text-light" href="{{ path('home') }}" style"font-family: 'roboto', sans-serif; font-weight: 500; font-size: 20px;">T<span class="text-warning ">OO</span>SHARE</a>
	<button class="navbar-toggler bg-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div
		class="collapse navbar-collapse navnav navtest" id="navbarSupportedContent" style="">
		{# <ul class="navbar-nav d-flex justify-content-between"> #}
		<div class=" m-auto navnav" id="navtest">
			<a class="nav-link navbtn hvr-grow" href="{{ path('home') }}">Accueil</a>
			<a class="nav-link navbtn hvr-grow" href="{{ path('artiste') }}">Artistes</a>
			<a class="nav-link navbtn hvr-grow" href="{{ path('about') }}">A propos</a>
			<a class="nav-link navbtn hvr-grow" href="{{ path('contact') }}">Contact</a>
		</div>

		{% if app.user %}


			<div class="nav-item dropdown" style=" width:370px;" id="btnconnect">
				{% if "ROLE_ADMIN" in app.user.roles %}
					<a class="nav-link dropdown-toggle text-white bg-warning btnjaune" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace admin</a>
					<div class="dropdown-menu bg-warning btnjaune" id="" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item text-white bg-warning btnjaune" href="{{ path('admin_artiste_index') }}">Espace Artiste</a>
						<a class="dropdown-item text-white bg-warning btnjaune" href="{{ path('admin_contact_index') }}">Espace contact</a>

					</div>
				{% endif %}


				<a class="nav-link bg-warning text-white btnjaune" href="{{ path('profil') }}">Profil</a>
				<a class="nav-link bg-warning text-white btnjaune" href="{{ path('app_logout') }}">Deconnexion</a>
			</div>
		{% else %}
			<div style="" id="connectbtn">
				<a class="nav-link text-white bg-warning btnjaune" style="margin-right:10px;" href="{{ path('app_login') }}">Se connecter</a>
				<a class="nav-link text-white bg-warning btnjaune" href="{{ path('app_register') }}">S'inscrire</a>
			</div>
		{% endif %}

		{# </ul> #}
	</div>

</nav>

{# <nav class="navbar navbar-expand-sm navbar-light bg-light" id="nav">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav> #}
